/* ==========================================================================
   Colors

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Colors
   ========================================================================== */
$black:                 #373737;
$white:                 #fff;
$grey:                  #9d9d9d;
$blue:                  #5cb8e6;
$red:                   #ff4600;


$color-primary: #0057a8;
$color-dark: #222c35;
$color-action: #74abff;
$color-white: #fff;
$color-light: #f8f8f8;
$bg-footer: #344153;
$color-nondurable: #8e9eb4;
$color-main-link: #425156;