/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
$font-brand: 'copperplate_gothic_boldRg', sans-serif;
$font-regular: 'montserratregular', sans-serif;
$font-bold: 'montserratbold', sans-serif;
$font-light: 'montserratlight', sans-serif;
$font-thin: 'montserratthin', sans-serif;
$font-semi-bold: 'montserratsemibold', sans-serif;
$font-medium: 'montserratmedium', sans-serif;


//sizes
$size-side: 180px;